{{!-- Extiende el layout main --}}
{{!< main}}
<h1>Lista de Productos en Tiempo Real</h1>
<ul id="lista-productos">
    {{#each productos}}
        <li id="{{this.id}}">{{this.nombre}} - {{this.precio}} <button onclick="eliminarProducto('{{this.id}}')">Eliminar</button></li>
    {{/each}}
</ul>

<h2>Agregar Producto</h2>
<form id="form-agregar">
    <input type="text" id="nombre" placeholder="Nombre del producto" required>
    <input type="number" id="precio" placeholder="Precio del producto" required>
    <button type="submit">Agregar</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/client.js"></script>